/*------------------------------------------------------------------------------
    New Medicine 
-------------------------------------------------------------------------------*/
.content-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

// Row 1
.r-1 {
    justify-content: flex-start;
    margin: 10px;

    a {
        border: 1px solid $brightBlue;
        color: $white;
        background: $brightBlue;
        padding: 6px 12px;
        margin: 0;
        margin-right: 10px;
        border-radius: 2px;
        display: inline-block;
        transition: all 0.2s;

        &:active {
            background-color: $darkBlue;
        }

        i {
            padding-right: 10px;
        }
    }

}

// Row 2
.r-2 {
    .column {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 10px;
        border: 1px solid $lightGray;
        border-radius: 2px;
    }

    .c-1 {
        background-color: $white;
        width: 100%;

        .column-head {
            display: flex;
            background-color: $white;
            width: 100%;
            height: 45px;
            align-items: center;
            padding: 0 15px;
            border-bottom: 1px solid $lightGray;

            h4 {
                font-size: 18px;
                font-weight: 500;
                margin: 0;
            }
        }

        .column-body {
            padding: 15px;
            width: 100%;

            form {
                .body {
                    display: flex;

                    .column {
                        flex-direction: column;
                        border: none;
                        width: 100%;

                        .input {
                            display: flex;
                            flex-direction: column;

                            label {
                                font-size: 14px;
                                font-weight: 600;
                                margin-top: 10px;
                                margin-bottom: 7px;

                                i {
                                    font-size: 12px;
                                    color: red;
                                }
                            }

                            input {
                                margin-bottom: 5px;
                            }
                        }
                    }

                    .co-1 {
                        height: max-content;
                    }

                    .co-2 {
                        height: max-content;

                        .input {
                            textarea {
                                height: 168px;
                            }

                            .input-and-button {
                                display: flex;
                                                            
                                select {
                                    width: 100%;                                    
                                }

                                button {
                                   padding: 6px 12px;
                                   margin-left: 5px;
                                   letter-spacing: 0.7px;                                  
                                }
                            }
                        }
                    }
                }

                .footer {
                    .column.co-1 {
                        border: none;
                        justify-content: flex-start;

                        button {
                            padding: 7px 13px;
                            font-weight: 500;
                            letter-spacing: .7px;
                        }
                    }
                }
            }
        }
    }
}

// Pop Up Box to Add New Manufacturer
#anm-pop-up-box {    
    .inner {
        min-width: 350px;

        .body {      
            .input {
                display: flex;
                flex-direction: column;            
    
                label {
                    font-size: 14px;
                    font-weight: 600;
                    margin-top: 10px;
                    margin-bottom: 7px;
    
                    i {
                        font-size: 12px;
                        color: red;
                    }
                }
    
                input {
                    margin-bottom: 5px;
                }
            }
        }
    }
}