// Colors
$gray: #7a7a7a;
$veryLightGray: #f1f3f6;
$lightGray: #e1e6ef;
$veryDarkBlue: #374767;
$brightBlue: #0556f3;
$white: #ffffff;
$veryLightBlue: rgba(5, 86, 243, 0.15);
$darkBlue: #03338f;


// Font Sizes
$font-md: 15px;