/*------------------------------------------------------------------------------
    Dashboard 
-------------------------------------------------------------------------------*/
.content-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

// Row 1
.r-1 {
    gap: 20px;
    margin: 10px;
    
    .media-box {
        display: flex;
        position: relative;
        flex-direction: row;
        height: 105px;
        background-color: $white;        
        border: 1px solid $lightGray;
        border-radius: 2px;
        flex: 1 1;

        .icon {
            display: flex;
            min-width: 80px;
            border-right: 1px solid $lightGray;
            justify-content: center;
            align-items: center;

            i {
                font-size: 40px;
            }
        }

        .data {
            display: flex;
            flex-direction: column;
            min-width: 150px;
            height: 100%;
            justify-content: center;
            padding: 20px;

            h4 {
                font-size: 16px;
                margin: 5px 0;

            }
        }
    }

    .media-box:nth-child(1) {
        .icon {
            i {
                color: #4caf50;
            }
        }
    }

    .media-box:nth-child(2) {
        .icon {
            i {
                color: #fb8e06;
            }
        }
    }

    .media-box:nth-child(3) {
        .icon {
            i {
                color: #ff446a;
            }
        }
    }

    .media-box:nth-child(4) {
        .icon {
            i {
                color: #673AB7;
            }
        }
    }
}

// Row 2
.r-2 {
    .column {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 10px;
        border: 1px solid $lightGray;
        border-radius: 2px;
    }

    .c-1 {       
        background-color: $white;
        width: 100%;       

        .column-head {
            display: flex;
            background-color: $white;
            width: 100%;
            height: 45px;
            align-items: center;
            padding: 0 15px;
            border-bottom: 1px solid $lightGray;

            h4 {
                font-size: 18px;
                font-weight: 500;
                margin: 0;
            }

            form {
                position: relative;
                right: 218px;
                top: -13px;               
                margin-left: auto;
                width: max-content;

                input {
                    padding: 4px 10px;
                    max-width: 180px;

                    &:focus {
                        border-color: $brightBlue;
                    }
                }

                button {
                    padding: 5.7px 10px;
                    font-size: 12px;
                    font-weight: bolder;
                    z-index: 4;
                    position: absolute;
                    right: -218px;
                }
            }
        }

        .column-body {           
            padding: 15px;
            width: 100%;            

            .labels {
                display: flex;
                justify-content: flex-end;
                font-size: 14px;
                width: 100%;
                margin-top: 5px;
                margin-bottom: 10px;

                div {
                    display: flex;
                    margin-right: 15px;

                    i {
                        font-size: 12px;
                        margin-right: 5px;
                        margin-top: 1px;
                    }
                }

                div:nth-child(1) {
                    i {
                        color: #4CAF50;
                    }
                }

                div:nth-child(2) {
                    i {
                        color: #FF4E72;
                    }
                }

                #multi-line-mp {
                    width: 100%;
                    height: 100%;

                }
            }

            #multi-line-mp {
                width: 100%;
                height: max-content;             

                .morris-hover.morris-default-style {
                    border-radius: 2px;
                    font-family: inherit;
                    color: inherit;
                    border: 1px solid $lightGray;
                }
            }
        }
    }
}

// Row 3
.r-3 {
    .column {
        display: flex;        
        position: relative;
        flex-wrap: wrap;
        flex: 1 1;
        justify-content: space-around;
        margin: 10px;
        border: 1px solid $lightGray;
        border-radius: 2px;
    }

    .c-1 {       
        background-color: $white;        

        .column-head {
            display: flex;
            background-color: $white;
            width: 100%;
            height: 45px;
            align-items: center;
            padding: 0 15px;
            border-bottom: 1px solid $lightGray;

            h4 {
                font-size: 18px;
                font-weight: 500;
                margin: 0;
            }

            form {
                position: relative;
                right: 218px;
                top: -13px;               
                margin-left: auto;
                width: max-content;

                input {
                    padding: 4px 10px;
                    max-width: 180px;

                    &:focus {
                        border-color: $brightBlue;
                    }
                }

                button {
                    padding: 5.7px 10px;
                    font-size: 12px;
                    font-weight: bolder;
                    z-index: 4;
                    position: absolute;
                    right: -218px;
                }
            }
        }

        .column-body {           
            width: 100%;
            padding: 15px;

            .labels {
                display: flex;
                justify-content: center;
                font-size: 14px;
                width: 100%;
                margin-top: 5px;
                margin-bottom: 10px;

                div {
                    display: flex;
                    align-items: center;
                    margin-right: 15px;

                    i {
                        font-size: 12px;
                        margin-right: 5px;
                        margin-top: 1px;
                    }
                }

                div:nth-child(1) {
                    i {
                        color: #6A6DDE;
                    }
                }

                div:nth-child(2) {
                    i {
                        color: #713E8D;
                    }
                }

                div:nth-child(3) {
                    i {
                        color: #A160A0;
                    }
                }

                div:nth-child(4) {
                    i {
                        color: #EB6EB0;
                    }
                }

                div:nth-child(5) {
                    i {
                        color: #F597BB;
                    }
                }
            }

            #donut-mie {
                min-height: max-content;                
            }
        }
    }

    .c-2 {      
        background-color: $white;
        height: max-content;                
        flex-grow: 1;          

        .column-head {
            display: flex;
            background-color: $white;
            width: 100%;
            height: 45px;
            align-items: center;
            padding: 0 15px;
            border-bottom: 1px solid $lightGray;

            h4 {
                font-size: 18px;
                font-weight: 500;
                margin: 0;
            }
        }

        .column-body {
            width: 100%;
            padding: 15px;   
        }
    }
}